#our-events-page .our-events-page-header h3{
    color: var(--pink);
    font-size: 48px;
    font-family: anglecia;
}
#our-events-page .our-events-page-head-text{
    margin-top: 28px;
    display: flex;
    justify-content: start;
    align-items: end;
}
#our-events-page .our-events-page-head-text .our-events-head-text-box{
    width: 35%;
    overflow-wrap: break-word;
    hyphens: auto;
}
#our-events-page .our-events-page-head-text .our-events-head-text-box p{
    color: var(--black-1);
    margin: 0%;
    padding: 0%;
}
#our-events-page .our-events-content{
    margin-top: 60px;
}
#our-events-page .our-events-page-box{
    margin-bottom: 60px;
}
#our-events-page .our-events-page-box .our-events-box-img{
    width: 100%;
    min-width: 100%;
    height: auto;
}
#our-events-page .our-events-page-box .our-events-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#our-events-page .our-events-page-box .our-events-box-texts{
    margin-top: 25px;
}
#our-events-page .our-events-page-box .our-events-box-texts .our-box-head h3{
    font-family: anglecia;
    font-size: 24px;
}
#our-events-page .our-events-page-box .our-events-box-texts .our-box-text{
    overflow-wrap: break-word;
    hyphens: auto;
}
#our-events-page .our-events-page-box .our-events-box-texts .our-box-text p{
    font-size: 16px;
    font-weight: 400;
}
#our-events-page .our-events-page-box .our-events-box-btn{
    display: flex;
    align-items: center;
}
#our-events-page .our-events-page-box .our-events-box-btn .our-box-more-btn{
    width: fit-content;
}
#our-events-page .our-events-page-box .our-events-box-btn .our-box-more-btn a{
    color: var(--black-1);
    border-radius: 8rem;
    padding: 10px 25px;
    border: 1px solid var(--black-1);
}
#our-events-page .our-events-page-box .our-events-box-btn .our-box-more-btn a img{
    margin-left: 14px;
    width: 43px;
    height: auto;
    object-fit: cover;
}
#our-events-page .our-events-page-box .our-events-box-btn .our-box-apply-btn{
    margin-top: 15px;
    margin-left: 55px;
}
#our-events-page .our-events-page-box .our-events-box-btn .our-box-apply-btn a{    text-decoration: underline !important;
    text-decoration: underline !important;
    color: var(--pink);
    font-size: 18px;
}